@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
body {
  overflow: hidden; /* Disable scrollbar */
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* For webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none;
}
