.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
}

.title {
  font-size: 2rem;
  margin: 20px 0;
  color: #999999;
}
