.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-image: url("../public/black-white-bg2.jpg"); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: #ffffff; /* Ensures your text is visible over the background */
  font-family: Times, Times New Roman, serif;
  overflow: hidden;
}

.card {
  margin-top: 50px;
}

.quotes {
  font-weight: bold;
}
