.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-image: url("../public/black-white-bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Times, Times New Roman, serif;
  overflow: hidden;
}

.card {
  margin-top: 50px;
}

.quotes {
  font-weight: bold;
}
