/* Base container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background-image: url("../public/project-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
}

.single_card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 0;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 400px;
}

.card:hover {
  transform: scale(1.05);
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.cardContent:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .cards_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card img {
    height: 150px;
  }
}

.section_heading {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 30px;
}

.contact_card {
  background-image: url("../public/timeline-bg4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
